%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [
	    debug_info, 
	    warnings_as_errors,
	    {i, "deps/riak_kv/include"}
	   ]}.

{xref_warnings, false}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{eunit_opts, [
verbose
%     no_tty,  %% This turns off the default output, MUST HAVE
%     {report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
     %% Uses the progress formatter with ANSI-colored output
     ]}.

{deps, [
        {sext, ".*", {git, "git://github.com/basho/sext.git", {tag, "1.1p3"}}}
       ]}.
