%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [
	    debug_info,
	    warnings_as_errors,
	    {i, "deps/riak_kv/include"}
	   ]}.

{xref_warnings, false}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.


{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.

%% == escriptize ==
{escript_emu_args, "%%! -escript main riak_ql_cmd -smp disable +A 0\n"}.
{escript_incl_apps, [sext]}.

{deps, [
        {unite, "", {git, "https://github.com/basho/unite.git", {tag, "v0.0.1p2"}}},
        {sext, ".*", {git, "https://github.com/basho/sext.git", {tag, "1.1p5"}}},
        {mochiweb, ".*", {git, "https://github.com/basho/mochiweb.git", {tag, "v2.9.0p2"}}},
        {merl, ".*", {git, "https://github.com/basho/merl.git", {tag, "0.1.0-basho"}}}
       ]}.
